h1 {
 font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
 font-size: 50px;
 line-height: 65px;
 font-weight: bold;
 
}

h2,h3,h4 {
 font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
 font-weight: bold;
 }
 
p {
 font-family: 'Vollkorn', Georgia, Times, serif;
 font-size: 18px;
 line-height: 25px;
 ml-3
}

img.two {
  height: 50%;
  width: 50%;
}